{% trans_default_domain menuBreadcrumb.translation %}

<ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{{path("home")}}">{{"menu.inicio"|trans}}</a>
            {% if currentRoute['name'] != "home" %}
            <i class="icon-angle-right"></i>
            {% endif %}
        </li>
        {% for menu in menuBreadcrumb if menu.route != "home" %}
        <li>
            <a {% if menu.route %}href="{{path(menu.route)}}"{% endif %}>{{menu.title |trans}}</a> 
            <i class="icon-angle-right"></i>
        </li>
        {% endfor %}
        {% if currentRoute['name'] != "home" %}
        <li>
            <a>{{currentRoute['action']|trans}}</a> 
        </li>
        {% endif %}
</ul>